<script>

   $(document).ready(function () {

     $('tr.message').on('click', function (event) {
       console.log(event.currentTarget)
       $tr = $(event.currentTarget)
       window.location.href = $tr.attr("data-thread-url")
     });

   });

</script>


<h2>Inbox</h2>

  <table class="inbox">

    <thead>
      <tr>
        <th class="message-column-header">Message</th>
        <th>From</th>
        <th>When</th>
      </tr>
    </thead>

    <tbody>

      <% threads.each( function (thread) {  %>
          <% thread.messages().each(function (message) {  %>


            <tr class="message" data-thread-url="<%= "/message_threads/" + message.get("thread_id") %>" >
              <td class="message-text">
                  <%= message.get("body") %>
              </td>
              <td><%= message.sender().escape("fname") %> <%= message.sender().escape("lname") %></td>
              <td><time class="time-ago"><%= moment(message.get("created_at"), "YYYYMMDD").fromNow() %></time></td>
            </tr>

          <% }); %>
      <% }); %>

    </tbody>

  </table>

