<h2>Improve Your Profile</h2>
<br>

<form enctype="multipart/form-data" action=<%= "/users/" + id %> method="post">
  <input type="hidden" name="_method" value="PATCH">

  <label for="avatar-upload"><strong>Upload / Change Your Profile Image</strong></label>
  <input type="file" name="user[avatar]" id="avatar-upload">

<br><br>

  <label for="first_name">First Name</label>
  <input type="text"
  name="user[fname]" value="<%= user.escape("fname") %>" id="first_name">

  <label for="last_name">Last Name</label>
  <input type="text" name="user[lname]" value=<%= user.escape("lname") %> id="last_name">

  <label for="email">Email</label>
  <input type="text" name="user[email]" value=<%= user.escape("email") %> id="email">

  <label for="birthdate">Birthdate</label>
  <input type="date" name="user[birthdate]" value=<%= user.escape("birthdate") %> id="birthdate">

  <label for="user_description" >Describe Yourself</label>
  <textarea name="user[description]" id="user_description"><%= user.escape("description") %></textarea>

  <label for="phone_number">Phone Number</label>
  <input type="number" name="user[phone_number]"
  value=<%= user.escape("phone_number") %> id="phone_number">

  <label for="gender">Gender</label>
  <select name="user[gender]" id="gender">
    <option value=""></option>
    <option value="F" >Female</option>
    <option value="M" >Male</option>
    <option value="O" >Other</option>
  </select>

<br><br>
  <p><input type="submit" value="Save Changes"></p>
</form>

