<script>

   $(document).ready(function () {

     $('tr.thread').on('click', function (event) {
       console.log(event.currentTarget)
       $tr = $(event.currentTarget)
       window.location.href = $tr.attr("thread-url")
     });

   });

</script>


<h2>Your Threads</h2>

<table class="threads">

  <thead>
    <tr>
      <th></th>
      <th colspan="2">Thread</th>
      <th>Latest Message</th>
      <th>When</th>
    </tr>
  </thead>

  <tbody>

 <% unless @threads.empty?  %>

    <% @threads.each do |thread| %>

      <tr class="thread" thread-url="<%= message_thread_url(thread) %>" >
        <td class="status-symbol">
          <%= thread.has_unread_messages? ?
          '<i class="fa fa-star"></i>'.html_safe : "" %>
        </td>

        <td class="thread-name">
          <!-- <div class="thread-name-img"> -->
            <img src="<%= thread.other_user(current_user).avatar.url(:thumb) %>">
          <!-- </div> -->
        </td>

        <td class="thread-name">
          <%= thread.other_user(current_user).fname.capitalize %>
          <%= thread.other_user(current_user).lname.capitalize %>
        </td>

        <td class="latest-message-text">
          <%= thread.latest_message(current_user).body %>
        </td>

        <td>
          <%= time_ago_in_words(thread.latest_message(current_user).created_at) %> ago
        </td>

    <% end %>



 <% else %>
   <h3>You don't have any messages right now.</h3>
 <% end %>

  </tbody>
</table>


     <!-- Could add something about the latest message (text and time?) <td class="notification-time"><%#= time_ago_in_words(notification.created_at) %> ago</td> -->