<script>

  $(document).ready(function () {
    $('li[data-user-id="<%= current_user.id %>"]').addClass("me");

    $('li.thread').on('click', function (event) {
      console.log(event.currentTarget)
      $li = $(event.currentTarget)
      window.location.href = $li.attr("thread-url")
    });


  });

</script>


<h3 class="thread">You and <%= @other_user.fname %> <%= @other_user.lname %></h3>

<section class="threads-sidebar">




    <ul class="threads-side-list">
    <h3>Threads</h3>

     <% @threads.each do |thread| %>

         <li class="thread group" thread-url="<%= message_thread_url(thread) %>">

           <%= thread.has_unread_messages? ?
           '<i class="fa fa-star"></i>'.html_safe : "" %>

           <img src="<%= thread.other_user(current_user).avatar.url(:thumb) %>">

           <div class="message-details-small group">
             <p>
               <strong>
                 <%= thread.other_user(current_user).fname.capitalize %>
                 <%= thread.other_user(current_user).lname.capitalize %>
               </strong>
             </p>
             <time>
               <%= format_last_message(thread.latest_message(current_user).created_at) %>
             </time>
           </div>

           <p class="latest-message-text-short">
             <%= thread.latest_message(current_user).body %>
           </p>


         </li>

     <% end %>

   </ul>

</section>






<% if @messages %>

  <ul class="thread-messages">

    <div class="thread-new-message">
      <%= render partial: "messages/form", locals: { recipient_id: @other_user.id } %>
    </div>

    <% @messages.each do |message| %>
      <li class="message group" data-user-id="<%= message.sender.id %>">

        <p class="message-text"><%= message.body %></p>

        <!-- <div class="message-details"> -->
          <img src="<%= message.sender.avatar.url(:thumb) %>" class="avatar-thread">
          <time class="time-ago">
            <%= "#{ time_ago_in_words(message.created_at) } ago." %><br>
            <%= message.sender.fname %> <%= message.sender.lname %>
          </time>
        <!-- </div> -->



      </li>
    <% end %>
  </ul>
<% end %>
