

<section class="profile-sidebar">
  <div class="profile-picture">
    <img src="<%= @user.avatar.url(:profile) %>" class="profile-thumb">
  </div>

  <% if signed_in? %>
    <h3>Send <%= @user.fname %> a Message</h3>
    <div class="message-form">
      <%= render partial: "messages/form", locals: { recipient_id: @user.id } %>
    </div>
  <% else %>
    <p class="sign-in-prompt"><a class="open-modal" href="<%= new_session_url %>">Sign in</a> to send <%= @user.fname %> a message or write a review.<p>
  <% end %>
</section>



<section class="profile-content">


  <h1>Hey, I'm <%= @user.fname.capitalize %>!</h1>

  <div class="profile-info">
    <%= "Member since #{ format_member_since(@user.created_at) }." %>
  </div>

  <article class="profile-description">
    <p><%= @user.description %></p>
  </article>

  <% if signed_in? %>
    <%= render "reviews/form", reviewable_type: "User", reviewable_id: @user.id %>
  <% end %>



  <% unless @reviews.empty? %>

    <section class="user-reviews group">
      <h3 class="reviews-title">Reviews</h3>

      <% @reviews.each do |review| %>

        <article class="review">
          <header class="group">

            <div class="review-thumb">
              <a href="<%= user_url(review.author) %>">
                <img src="<%= review.author.avatar.url %>" width="54" height="54">
              </a>
            </div>
            <div class="review-info">
              <h4><a href="<%= user_url(review.author) %>"><%= "#{review.author.fname} #{review.author.lname}" %></a></h4>
              <time><%= "#{time_ago_in_words(review.created_at)} ago." %></time>
            </div>

          </header>

            <div class="review-text">
              <p>
                <%= review.body %>
              </p>
            </div>

        </article>

      <% end %>

    </section>

  <% else %>
    <br>
    <h3>There are currently no reviews for this user.</h3>

  <% end %>

</section>