<%= @user.fname %>'s show page

<hr>

<% if @user.avatar.exists? %>
  <img src="<%= @user.avatar.url(:thumb) %>">
  <!-- <img src="<%#= @user.avatar.url %>"> -->
<% end %><br>
<%= "Member since #{ time_ago_in_words(@user.created_at) } ago." %>
<br><br>

<% if signed_in? %>
<%= render "reviews/form", reviewable_type: "User", reviewable_id: @user.id %>
<% end %><br>

<% unless @reviews.empty? %>
  <h3 class="review">Reviews</h3><br>
  <ul class="comments group">
    <% @reviews.each do |review| %>
      <li>
        <p><%= review.body %>
        by <%= User.find(review.author_id).fname %>
        </p>
      </li>
    <% end %>
  </ul>
<% end %>