
<!-- <section class="search-results"> -->


<div class="results-search-bar">
  <%= render "pages/search" %>
</div>


  <div id='search-rooms-map'></div>

<script>
  $(document).ready(function () {


    var geoJson = {
        type: 'FeatureCollection',
        features: [

        <% @rooms.each do |room| %>

        {
            type: 'Feature',
            properties: {
                title: '<%=  "#{ room.display_title }"  %>',
                'marker-color': '#f00',
                'marker-size': 'medium',
                'marker-color': '#CA16C2',
                'marker-symbol': '',
                "marker-id": '<%= room.id %>',
                url: '<%= room_url(room) %>'
            },
            geometry: {
                type: 'Point',
                coordinates: [<%=  room.longitude  %>, <%=  room.latitude  %>]
            }
        }  <%= room == @rooms.last ? "" : "," %>

        <% end %>
      ]
    };

    // map.dragging.disable();
    // map.touchZoom.disable();
    // map.doubleClickZoom.disable();
    // map.scrollWheelZoom.disable();

    var map = L.mapbox.map('search-rooms-map', 'jorgerro.i3fn8jnl')
    map.featureLayer.setGeoJSON(geoJson);

    var resetZoom = function () {
  		if ( map._zoom < 3 ) { map.setZoom(3) }
  	};

  	// function to format map
  	var formatMap = function(callback) {
      map.scrollWheelZoom.disable();
      // map.invalidateSize();
  		map.fitBounds(map.featureLayer.getBounds());
  	  map.featureLayer.eachLayer(
  	    function(marker){
  	      var listingID = marker.feature.properties["marker-id"];
  	      $listingLink = $('a[data-room-id=' + '"' + listingID + '"' + ']')
          $listingLink.hover(function () {
            map.panTo(marker.getLatLng());
            marker.openPopup();
          });
  	    }
  	  )
      callback();
  	};



    // var myLayer = L.mapbox.featureLayer().addTo(map);
    // map.fitBounds(myLayer.getBounds());
    // myLayer.on('mouseover', function(e) {
    //     e.layer.openPopup();
    // });
    //
    // myLayer.on('mouseout', function(e) {
    //     e.layer.closePopup();
    // });


    formatMap(resetZoom);




    // myLayer.on('ready', function () {
    // });

  });

</script>

<!-- </section> -->





<section class="results-display">

  <% unless @rooms.empty? %>

      <%= render @rooms %>

  <% else %>
    <h3>There are no results for your search.</h3>
  <% end %>

</section>

    <h4 class="paginator"><%= paginate @rooms %></h4>


