
<div id="front-page-tagline">
  <h1 class="tagline">Find a place to stay. In a tree.</h1>
  <div class="main-search-bar">
    <%= render "pages/search" %>
  </div>
</div>


<div class="front-page-img">
  <img src="https://s3.amazonaws.com/freebnb_dev/front_page/front-page-mirror-house.jpg">
</div>


<h2 class="featured">Featured Tree Houses</h2>
<div class="featured-subtitle">
  Not sure where to start? Check out these featured spaces!
</div>

<section class="home-page-articles group">
  <article class="home-page group">

    <a href="<%= room_url(@feature_one) %>">
      <img src="<%= @feature_one.pictures.first.image(:profile) %>">
      <div class="featured-room-title">
        <%= @feature_one.display_title %>
      </div>
    </a>


    <h3 class="text-special">Travel</h3>
    <p>
      From apartments and rooms to tree houses and tree villages: stay in unique spaces all over the world.
    </p>
  </article>

  <article class="home-page group">

    <a href="<%= room_url(@feature_two) %>">
      <img src="<%= @feature_two.pictures.first.image(:profile) %>">
      <div class="featured-room-title" id="feature-title-two">
        <%= @feature_two.display_title %>
      </div>
    </a>


    <h3 class="text-special">Host</h3>
    <p>
      Having a tree house is great, and it's even better when you get to share it. Join the community today!
    </p>
  </article>

  <article class="home-page group">

    <a href="<%= room_url(@feature_three) %>">
      <img src="<%= @feature_three.pictures.first.image(:profile) %>">
      <div class="featured-room-title" id="feature-title-three">
        <%= @feature_three.display_title %>
      </div>
    </a>


    <h3 class="text-special">Travel and Safety</h3>
    <p>
      From Verified ID to our worldwide customer support team, we've got your back.
    </p>
  </article>
