<h2></h2>

  <h1>Find a place to stay. In a tree.</h1>
<div class="main-search-bar">
  <%= render "pages/search" %>
</div>


<!-- <div id='all-rooms-map'></div>

  <script>
  var map = L.mapbox.map('all-rooms-map', 'jorgerro.i3fn8jnl')
          .setView([35.532226, -7.910156], 2);

  var myLayer = L.mapbox.featureLayer().addTo(map);

  // The GeoJSON representing the two point features

  var geoJson = {
      type: 'FeatureCollection',
      features: [

      <% @listings.each do |room| %>

      {
          type: 'Feature',
          properties: {
              title: '<%=  "#{ room.display_title }"  %>',
              'marker-color': '#f00',
              'marker-size': 'medium',
              'marker-color': '#CA16C2',
              'marker-symbol': '',
              url: '<%= room_url(room) %>'
          },
          geometry: {
              type: 'Point',
              coordinates: [<%=  room.longitude  %>, <%=  room.latitude  %>]
          }
      }  <%= room == @listings.last ? "" : "," %>

      <% end %>

    ]
  };

  myLayer.on('mouseover', function(e) {
      e.layer.openPopup();
  });

  myLayer.on('mouseout', function(e) {
      e.layer.closePopup();
  });

  // map.dragging.disable();
  // map.touchZoom.disable();
  // map.doubleClickZoom.disable();
  // map.scrollWheelZoom.disable();

  // Pass features and a custom factory function to the map
  myLayer.setGeoJSON(geoJson);
  myLayer.on('click', function(e) {
      // e.layer.unbindPopup();
      window.location.href = e.layer.feature.properties.url
  });
  </script> -->

<div class="front-page-img">
  <img src="http://e.excessreport.com/wp-content/uploads/2012/07/mirror_cube_exterior_22.jpg">
</div>




<section class="home-page-articles group">
  <article class="home-page group">
    <h3 class="text-special">Travel</h3>
    <p>
      From apartments and rooms to treehouses and boats: stay in unique spaces in 192 countries.
    </p>
  </article>

  <article class="home-page group">
    <h3 class="text-special">Host</h3>
    <p>
      Renting out your unused space could pay your bills or fund your next vacation.
    </p>
  </article>

  <article class="home-page group">
    <h3 class="text-special">Travel and Safety</h3>
    <p>
      From Verified ID to our worldwide customer support team, we've got your back.
    </p>
  </article>
