<script>

  var Carrousel = (function(){

    var delay = 5000;
    var carrousel = $("#carrousel");
    var itemsHolder = carrousel.find("> ul");
    var items = itemsHolder.find("> li");
    var itemWidth = items.first().width();
    var currentItem = -1;
    var timerId;

    var nextButton = $("#carrousel-nav > .next");
    var previousButton = $("#carrousel-nav > .previous");
    var numberLabel = $("#carrousel-nav > .number");

    var init = function(){
      itemsHolder.css({"width": (items.length * itemWidth) + "px"});
      bind();
      start();
    };

    var bind = function(){
      nextButton.on("click", next);
      previousButton.on("click", previous);
    }

    var start = function(){
      loop();
      timerId = window.setInterval(loop, delay);
    }

    var stop = function(){
      if(timerId){
        window.clearInterval(timerId);
      }
    }

    var loop = function(){
      next();
    }

    var next = function(){
      currentItem++;

      if(currentItem == items.length){
        currentItem = 0;
      }

      move();
    };

    var previous = function(){
      currentItem--;

      if(currentItem <= 0){
        currentItem = items.length - 1;
      }

      move();
    }

    var move = function(){
      var html = (currentItem + 1) + " / " + items.length;
      numberLabel.html(html);

      var leftPosition = currentItem * itemWidth * -1;
      itemsHolder.stop().animate({"left": leftPosition + "px"}, 1000);
    }

    return {
      init: init,
      next: next,
      previous: previous,
      start: start,
      stop: stop
    }
  })(this);


  $(document).ready(function () {
    Carrousel.init();

    $('#delete-room-link').click(function (event) {
      if (confirm("Are you sure you want to delete this listing?")) {
        event.preventDefault();
        $.ajax({
          url: "<%= room_url(@room) %>",
          type: "delete",
          success: function () {
            window.location.href = "<%= user_rooms_url(current_user) %>"
            alert("Your listing has been successfully deleted.")
          }
        });
      } else {
        event.preventDefault();
      };
    })



  });

</script>



<h1>Manage Your Listing</h1>


<!-- ROOM SHOW MAIN CONTENT -->

    <!-- header and pictures -->

<section class="room-show-main">

  <header class="room-show">
    <h2><%= @room.display_title %></h2>
  </header>


<div class="manage-buttons">

  <% if signed_in? && current_user.id == @room.owner_id %>
      <a href="<%= room_url(@room) %>"><i class="fa fa-home"></i> View</a>
      <a href="<%= edit_room_url(@room) %>"><i class="fa fa-pencil-square-o"></i> Edit</a>
      <a href="<%= new_room_availability_url(@room) %>"><i class="fa fa-calendar"></i> Add Availability</a>
  <% end %>

</div>


    <!-- photo carousel -->


  <% unless @room.pictures.empty? %>
    <div id="carrousel">
       <ul>    <!-- <ul class="group"> -->
        <% @room.pictures.each do |picture| %>
          <li>
            <figure class="room-show-image">
              <img src="<%= picture.image.url(:profile) %>">
            </figure>
          </li>
        <% end %>
      </ul>
    </div>

    <div id="carrousel-nav">
      <span class="previous">Previous</span> &mdash;
      <strong class="number">0 / 0</strong> &mdash;
      <span class="next">Next</span>
    </div>

  <% else %>
      <figure class="room-image-default">
        <img src="<%= Picture.new.image.url(:profile) %>">
        <figcaption>
          <%= "#{ @room.address_city }, #{ @room.address_country }" %>
        </figcaption>
      </figure>
  <% end %>
<br>



  <!-- Room Information -->

<section class="room-info group">

  <h3>The space</h3>
  <p><%= @room.description %></p>

  <table id="room-details">
      <tr>
          <th>Home Type:</th>
          <td><%= @room.home_type %></td>
      </tr>
      <tr>
          <th>Room Type:</th>
          <td><%= MAKE_NICE[@room.room_type] %></td>
      </tr>
      <tr>
          <th>Accomodates:</th>
          <td><%= @room.num_possible_guests %></td>
      </tr>
      <tr>
          <th>Bedrooms:</th>
          <td><%= @room.num_bedrooms %></td>
      </tr>
      <tr>
          <th>Bathrooms:</th>
          <td><%= @room.num_bathrooms %></td>
      </tr>
      <tr>
          <th>City</th>
          <td><%= @room.address_city %></td>
      </tr>
      <tr>
          <th>Country</th>
          <td><%= @room.address_country %></td>
      </tr>
  </table>

  </section>

  <h3 class="scary"><a href="<%= room_url(@room) %>" id="delete-room-link"><i class="fa fa-exclamation-triangle"></i> Remove Listing</a>

</section>


  <!-- ROOM SHOW SIDEBAR -->


<section class="room-show-sidebar group">

  <h2>Current Availability</h2>

  <%= render "layouts/calendar", room: @room  %>

    <% if @room.availabilities.empty? %>
      <h3>You haven't made this space available yet.</h3>
    <% end %>


<a href="<%= new_room_availability_url(@room) %>"><i class="fa fa-calendar"></i> Add Availability</a>


  <% unless @requests.empty? %>
    <h2 id="req-to-stay">Current Requests:</h2>

    <section class="manage-requests">

      <% @requests.each do |request| %>
        <article class="request group">

          <p class="status">Status: <strong><%= request.status %></strong></p>

          <p class="request-details-manage">
            <strong>Dates:</strong><br>
            <%= format_time(request.start_date)%> to<br>
            <%= format_time(request.end_date) %><br><br>
            <strong>Number of Guests:</strong> <%= request.num_guests %><br>
          </p>


        <% if request.status == "PENDING" &&
                                current_user && request.room.owner_id == current_user.id %>
          <br>
          <div class="manage-request">
              <form action="<%= user_url(request.guest) %>" method="get">
                <p><input type="submit" value="View Guest Profile"></p>
              </form>

              <form action="<%= approve_room_request_url(request) %>" method="post">
                <%= auth_token %>
                <p><input type="submit" value="Approve"></p>
              </form>

              <form action="<%= deny_room_request_url(request) %>" method="post">
                <%= auth_token %>
                <p><input type="submit" value="Deny"></p>
              </form><br><br>
          </div>
        <% end %>


          <time>
            <%= " Made #{ time_ago_in_words(request.created_at) } ago by" %>
            <a href="<%= user_url(request.guest) %>">
              <%= "#{ request.guest.fname } #{ request.guest.lname }." %>
            </a>
          </time>


        </article>

      <% end %>


    <% else %>
      <br><br>
      <h3>There are currently no requests to stay at this property.</h3>

    <% end %>

  </section>

</section>