<h2>List Your Place</h2>

<form action="<%= rooms_url %>" method="post">
  <%= auth_token %>

  <input type="hidden" name="room[owner_id]" value="<%= current_user.id %>">

  <label>
    <select name="room[address_region]">
      <option value="">Choose a Region</option>

      <option value="north_america"
        <%= "selected" if @room.address_region == "north_america" %> >
        North America
      </option>
      <option value="hawaii"
        <%= "selected" if @room.address_region == "hawaii" %> >
        Hawaii
      </option>
      <option value="europe"
        <%= "selected" if @room.address_region == "europe" %> >
        Europe
      </option>
      <option value="east_asia"
        <%= "selected" if @room.address_region == "east_asia" %> >
        East Asia
      </option>
      <option value="south_america"
        <%= "selected" if @room.address_region == "south_america" %> >
        South America
      </option>
    </select>

  </label>

  <br>

  <label for="country">Country</label>
  <input type="text" name="room[address_country]" value="<%= @room.address_country %>" id="country">

<br><br>

  <label for="city">City</label>
  <input type="text" name="room[address_city]" value="<%= @room.address_city %>" id="city">

<br><br>

  <label for="home_type">Home Type</label>
  <input type="text" name="room[home_type]" value="<%= @room.home_type %>" id="home_type">


<br><br>

  Room Type: <br><br>
  <label>
    Entire House / Apt.
    <input type="radio" name="room[room_type]"
    <%= "checked" if @room.room_type == "entire_space" %> value="entire_space">
  </label>
  <label>
    Private Room
    <input type="radio" name="room[room_type]"
    <%= "checked" if @room.room_type == "private_room" %> value="private_room">
  </label>
  <label>
    Shared Room
    <input type="radio" name="room[room_type]"
    <%= "checked" if @room.room_type == "shared_room" %> value="shared_room">
  </label>

<br>

  <label>
    Number of Guests
    <select name="room[num_possible_guests]">
      <option value=""></option>
      <% (1..10).to_a.each do |num|  %>
        <option value="<%= num %>"
          <%= "selected" if @room.num_possible_guests == num %> >
          <%= num %>
        </option>
      <% end %>
    </select>
  </label>
  <br><br>

  <p><input type="submit" value="Create Your Listing!"></p>
</form>
