<script>

  var Carrousel = (function(){

    var delay = 5000;
    var carrousel = $("#carrousel");
    var itemsHolder = carrousel.find("> ul");
    var items = itemsHolder.find("> li");
    var itemWidth = items.first().width();
    var currentItem = -1;
    var timerId;

    var nextButton = $("#carrousel-nav > .next");
    var previousButton = $("#carrousel-nav > .previous");
    var numberLabel = $("#carrousel-nav > .number");

    var init = function(){
      itemsHolder.css({"width": (items.length * itemWidth) + "px"});
      bind();
      start();
    };

    var bind = function(){
      nextButton.on("click", next);
      previousButton.on("click", previous);
    }

    var start = function(){
      loop();
      timerId = window.setInterval(loop, delay);
    }

    var stop = function(){
      if(timerId){
        window.clearInterval(timerId);
      }
    }

    var loop = function(){
      next();
    }

    var next = function(){
      currentItem++;

      if(currentItem == items.length){
        currentItem = 0;
      }

      move();
    };

    var previous = function(){
      currentItem--;

      if(currentItem <= 0){
        currentItem = items.length - 1;
      }

      move();
    }

    var move = function(){
      var html = (currentItem + 1) + " / " + items.length;
      numberLabel.html(html);

      var leftPosition = currentItem * itemWidth * -1;
      itemsHolder.stop().animate({"left": leftPosition + "px"}, 1000);
    }

    return {
      init: init,
      next: next,
      previous: previous,
      start: start,
      stop: stop
    }
  })();


  $(document).ready(function(){
    Carrousel.init();
  });

</script>


<!-- ROOM SHOW MAIN CONTENT -->

    <!-- header and pictures -->

<section class="room-show-main">

  <header class="room-show">
    <h1>
      <%= @room.display_title %>
    </h1>
  </header>


    <!-- photo carousel -->


  <% unless @room.pictures.empty? %>
    <div id="carrousel">
       <ul>    <!-- <ul class="group"> -->
        <% @room.pictures.each do |picture| %>
          <li>
            <figure class="room-show-image">
              <img src="<%= picture.image.url(:profile) %>">
            </figure>
          </li>
        <% end %>
      </ul>
    </div>

    <div id="carrousel-nav">
      <span class="previous">Previous</span> &mdash;
      <strong class="number">0 / 0</strong> &mdash;
      <span class="next">Next</span>
    </div>

  <% else %>
      <figure class="room-image-default">
        <img src="<%= Picture.new.image.url(:profile) %>">
        <figcaption>
          <%= "#{ @room.address_city }, #{ @room.address_country }" %>
        </figcaption>
      </figure>
  <% end %>

    <!-- <div id="carrousel">
       <ul>
         <li>Item One</li>
         <li>Item Two</li>
         <li>Item Three</li>
         <li>Item Four</li>
         <li>Item Five</li>
       </ul>
     </div> -->

  <!-- Room Information -->

  <section class="room-info group">

  <h3>The space</h3>
  <p><%= @room.description %></p>

  <table id="room-details">
      <tr>
          <th>Home Type:</th>
          <td><%= @room.home_type %></td>
      </tr>
      <tr>
          <th>Room Type:</th>
          <td><%= MAKE_NICE[@room.room_type] %></td>
      </tr>
      <tr>
          <th>Accomodates:</th>
          <td><%= @room.num_possible_guests %></td>
      </tr>
      <tr>
          <th>Bedrooms:</th>
          <td><%= @room.num_bedrooms %></td>
      </tr>
      <tr>
          <th>Bathrooms:</th>
          <td><%= @room.num_bathrooms %></td>
      </tr>
      <tr>
          <th>City</th>
          <td><%= @room.address_city %></td>
      </tr>
      <tr>
          <th>Country</th>
          <td><%= @room.address_country %></td>
      </tr>
  </table>

  </section>

  <!-- Reviews & New Review Form -->


  <% if signed_in? %>
    <%= render "reviews/form", reviewable_type: "Room", reviewable_id: @room.id %>
  <% else %>
    <h3>Sign in to write a review</h3>
  <% end %>

  <% unless @reviews.empty? %>

    <section class="room-reviews group">

      <h3 class="reviews-title">Reviews</h3>

      <% @reviews.each do |review| %>

        <article class="review">
          <header class="group">

            <div class="review-thumb">
              <a href="<%= user_url(review.author) %>">
                <img src="<%= review.author.avatar.url %>" width="54" height="54">
              </a>
            </div>
            <div class="review-info">
              <h4><a href="<%= user_url(review.author) %>"><%= "#{review.author.fname} #{review.author.lname}" %></a></h4>
              <time><%= "#{time_ago_in_words(review.created_at)} ago." %></time>
            </div>

          </header>

            <div class="review-text">
              <p>
                <%= review.body %>
              </p>
            </div>

        </article>

      <% end %>

    </section>
  <% else %>
    <br>
    <h3>There are currently no reviews for this listing.</h3>

  <% end %>
</section>




  <!-- ROOM SHOW SIDEBAR -->


<section class="room-show-sidebar group">

  <h2>Availability</h2>

  <%= render "layouts/calendar", room: @room  %>

  <% if signed_in? %>
    <% unless @room.availabilities.empty? %>

    <h3>Make a Request</h3>
    <br>

    <form action="<%= room_room_requests_url(@room) %>" method="post">
      <%= auth_token %>
      <input type="hidden" name="request[guest_id]" value="<%= current_user.id %>">
      <input type="hidden" name="request[room_id]" value="<%= @room.id %>">
      <input type="hidden" name="request[status]" value="PENDING">

      <label for="start_date">Start Date</label>
      <input type="date" name="request[start_date]" value="" id="start_date">

      <label for="end_date">End Date</label>
      <input type="date" name="request[end_date]" value="" id="end_date">

      <label for="num_guests">Number of Guests</label>
      <select name="request[num_guests]" id="num_guests">
        <% (1..10).to_a.each do |num| %>
          <option value="<%= num %>"><%= num %></option>
        <% end %>
      </select>
    <br><br>
      <p><input type="submit" value="You make that request!"></p>
    </form>

    <% else %>

    <h3>This room's owner hasn't made it available yet.</h3>

    <% end %>

  <% else %>

    <h3>Please sign in to reqest this space.</h3>

  <% end %>



  <!-- Host Info -->


  <div class="owner-info group">

        <img src="<%= @owner.avatar.url(:profile) %>">


      <h3><%= @owner.fname.capitalize %></h3>

      <a href="<%= user_url(@owner) %>">More about the host &#10154</a>

    </div>

</section>