
<header class="room-show">
  <h1>
    <%= "#{ MAKE_NICE[@room.home_type] } in #{MAKE_NICE[@room.address_city] }" %>
  </h1>
  <div class="room-location">
    <%= @room.address_city %>
  </div>
</header>

<section class="room-show-main">

  <% unless @room.pictures.empty? %>
    <% @room.pictures.each do |picture| %>
      <figure class="room-show-image">
        <img src="<%= picture.image.url(:thumb_big) %>">
      </figure>
    <% end %>
  <% end %>

  <% if signed_in? %>

    <% if current_user.id == @room.owner_id %>
      <a href="<%= edit_room_url(@room) %>">Edit</a>
    <% end %>

    <% if current_user.id != @room.owner_id %>
      <a href="<%= new_room_room_request_url(@room) %>">Request This Space</a>
    <% end %>

  <% end %>

  <% if !@room.availabilities.empty? %>
    Available:

    <% @room.availabilities.each do |availability| %>
        <%= "From #{ format_time(availability.start_date) } to #{ format_time(availability.end_date) }" %><br>
    <% end %>

  <% else %>

    This room is not currently available to request.

  <% end %>
</section>



<section class="room-show-sidebar">

  <% unless @requests.empty? %>
    Requests to stay at this property: <br><br>
    <% @requests.each do |request| %>

    <%= "Status: #{ request.status }" %><br>
    <p>
      <%= "This reservation starts on #{ format_time(request.start_date) }, ends on #{ format_time(request.end_date) } and is for #{ request.num_guests }." %>
    </p>

    <%= "Made #{ time_ago_in_words(request.created_at) } ago." %>

      <% if request.status == "PENDING" && current_user && request.room.owner_id == current_user.id %>
        <form action="<%= approve_room_request_url(request) %>" method="post">
          <%= auth_token %>
          <p><input type="submit" value="Approve"></p>
        </form>

        <form action="<%= deny_room_request_url(request) %>" method="post">
          <%= auth_token %>
          <p><input type="submit" value="Deny"></p>
        </form>
      <% end %>

      <hr>
    <% end %>

  <% else %>

    <p>There are currently no requests to stay at this property.</p><br>

  <% end %>


  <% if signed_in? %>
  <%= render "reviews/form", reviewable_type: "Room", reviewable_id: @room.id %>
  <% end %><br>

  <% unless @reviews.empty? %>
    <h3 class="review">Reviews!</h3><br>
    <ul class="comments group">
      <% @reviews.each do |review| %>
        <li>
          <p><%= review.body %>
          by <%= User.find(review.author_id).fname %>
          </p>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>





<!-- <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Tables</title>
  <style>

  html, body, h1, table, thead, tr, th, tbody, td {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
  }

  body {
    font-family: sans-serif;
  }

  h1 {
    text-align: center;
    margin: 30px;
    font-size: 60px;
    font-weight: bold;
  }

  table {
    margin: 30px auto;
    border-collapse: collapse;
    border: 5px solid #ccc;
    width: 500px;
  }

  thead {

  }

  tbody {

  }

  tr {

  }

  th {
    padding: 10px;
    background: #eee;
    border: 5px solid #ccc;
    text-align: left;
    font-weight: bold;
  }

  td {
    padding: 10px;
    border: 5px solid #ccc;
    border-left: 0;
    border-right: 0;
  }

  /*

  tr:nth-child(odd) td {
    background: #ffc;
  }

  */

  </style>
</head>
<body>

  <h1>Amazing Cats</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Color</th>
        <th>Age</th>
        <th>Owner</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Snowy</td>
        <td>6</td>
        <td>White</td>
        <td>Jonathan</td>
      </tr>
      <tr>
        <td>Rocky</td>
        <td>4</td>
        <td>Brown</td>
        <td>Stacy</td>
      </tr>
      <tr>
        <td>Sennacy</td>
        <td>5</td>
        <td>Brown</td>
        <td>Christi</td>
      </tr>
    </tbody>
  </table>


</body>
</html> -->