ROOM SHOW
<br><br>

<%= "#{ @room.home_type } in #{ @room.address_city }, ID #{ @room.id }" %>
<br>
Host: <a href="<%= user_url(@owner) %>">
        <%= "#{ @owner.fname } #{ @owner.lname }" %>
      </a>

<br><br>

<% unless @room.pictures.empty? %>
  <% @room.pictures.each do |picture| %>
    <img src="<%= picture.image.url(:thumb_big) %>">
  <% end %>
<% end %><br>

<% if signed_in? %>
  <% if current_user.id == @room.owner_id %>
    <a href="<%= edit_room_url(@room) %>">Edit</a>
  <% end %>
  <% if current_user.id != @room.owner_id %>
    | <a href="<%= new_room_room_request_url(@room) %>">Request This Space</a>
  <% end %>
<% end %>

<br><br>

<% unless @requests.empty? %>
  Requests to stay at this property: <br><br>
  <% @requests.each do |request| %>

    <%= "This request was made by #{ User.find(request.guest_id).fname }," %>
    <%= "for #{ request.start_date } to #{ request.end_date }." %><br>

    <%= "This reservation is for #{ request.num_guests }." %><br>
    <%= "Status: #{ request.status }" %><br>

    <% if request.status == "PENDING" && current_user && request.room.owner_id == current_user.id %>
      <form action="<%= approve_room_request_url(request) %>" method="post">
        <%= auth_token %>
        <p><input type="submit" value="Approve"></p>
      </form>

      <form action="<%= deny_room_request_url(request) %>" method="post">
        <%= auth_token %>
        <p><input type="submit" value="Deny"></p>
      </form>
    <% end %>

    <hr>
  <% end %>

<% else %>

  <p>There are currently no requests to stay at this property.</p>

<% end %>

# TODO: should later write some logic so that you can only comment if the user was your host or you stayed at the place

<% if signed_in? %>
<%= render "reviews/form", reviewable_type: "Room", reviewable_id: @room.id %>
<% end %>

<% unless @reviews.empty? %>
  <h3 class="review">Reviews!</h3>
  <ul class="comments group">
    <% @reviews.each do |review| %>
      <li>
        <p><%= review.body %></p>
        by <%= User.find(review.author_id).fname %>
      </li>
    <% end %>
  </ul>
<% end %>