


<!-- ROOM SHOW MAIN CONTENT -->

    <!-- header and pictures -->

<section class="room-show-main">

  <header class="room-show">
    <h1>
      <%= "#{ MAKE_NICE[@room.home_type] } in #{MAKE_NICE[@room.address_city] }" %>
    </h1>
    <div class="room-location">
      <%= @room.address_city %>
    </div>
  </header>


  <% unless @room.pictures.empty? %>
    <% @room.pictures.each do |picture| %>
      <figure class="room-show-image">
        <img src="<%= picture.image.url(:thumb_big) %>">
      </figure>
    <% end %>
  <% end %>

  <% if signed_in? %>

    <% if current_user.id == @room.owner_id %>
      <a href="<%= edit_room_url(@room) %>">Edit Your Listing</a>
    <% end %>

  <% end %>


  <!-- Room Information -->

  <section class="room-info group">

  <h3>The space</h3>
  <p><%= @room.description %></p>

  <table id="room-details">
      <tr>
          <th>Home Type:</th>
          <td><%= @room.home_type %></td>
      </tr>
      <tr>
          <th>Room Type:</th>
          <td><%= @room.room_type %></td>
      </tr>
      <tr>
          <th>Accomodates:</th>
          <td><%= @room.num_possible_guests %></td>
      </tr>
      <tr>
          <th>Bedrooms:</th>
          <td><%= @room.num_bedrooms %></td>
      </tr>
      <tr>
          <th>Bathrooms:</th>
          <td><%= @room.num_bathrooms %></td>
      </tr>
      <tr>
          <th>City</th>
          <td><%= @room.address_city %></td>
      </tr>
      <tr>
          <th>Country</th>
          <td><%= @room.address_city %></td>
      </tr>
  </table>

  </section>

  <!-- Reviews & New Review Form -->


  <% if signed_in? %>
  <%= render "reviews/form", reviewable_type: "Room", reviewable_id: @room.id %>
  <% end %>

  <% unless @reviews.empty? %>

    <section class="room-reviews group">

      <h3 class="reviews-title">Reviews</h3>

      <% @reviews.each do |review| %>

        <article class="review">
          <header class="group">

            <div class="review-thumb">
              <a href="#">
                <img src="<%= review.author.avatar.url %>" width="54" height="54">
              </a>
            </div>
            <div class="review-info">
              <h4><a href="#"><%= "#{review.author.fname} #{review.author.lname}" %></a></h4>
              <time><%= "#{time_ago_in_words(review.created_at)} ago." %></time>
            </div>

          </header>

            <div class="review-text">
              <p>
                <%= review.body %>
              </p>
            </div>

        </article>

      <% end %>

    </section>

  <% end %>
</section>




  <!-- ROOM SHOW SIDEBAR -->


<section class="room-show-sidebar group">

  <h2>Availability</h2>

  <%= render "layouts/calendar", room: @room  %>

  <% unless @room.availabilities.empty? %>

  <h3>Make a Request</h3>
  <br>

  <form action="<%= room_room_requests_url(@room) %>" method="post">
    <%= auth_token %>
    <input type="hidden" name="request[guest_id]" value="<%= current_user.id %>">
    <input type="hidden" name="request[room_id]" value="<%= @room.id %>">
    <input type="hidden" name="request[status]" value="PENDING">

    <label for="start_date">Start Date</label>
    <input type="date" name="request[start_date]" value="" id="start_date">

    <label for="end_date">End Date</label>
    <input type="date" name="request[end_date]" value="" id="end_date">

    <label for="num_guests">Number of Guests</label>
    <select name="request[num_guests]" id="num_guests">
      <% (1..10).to_a.each do |num| %>
        <option value="<%= num %>"><%= num %></option>
      <% end %>
    </select>
  <br><br>
    <p><input type="submit" value="You make that request!"></p>
  </form>

  <% else %>

  <h3>This room's owner hasn't made it available yet.</h3>

  <% end %>



  <!-- Host Info -->


  <div class="owner-info group">

        <img src="<%= @owner.avatar.url(:thumb) %>">


      <h3><%= @owner.fname.capitalize %></h3>

      <a href="<%= user_url(@owner) %>">More about the host &#10154</a>

    </div>


<!-- will soon scrap this and move make it so that it can only be seen by the room owner

  <% unless @requests.empty? %>
    Requests to stay at this property:
    <% @requests.each do |request| %>

    <%= "Status: #{ request.status }" %>
    <p>
      <%= "This reservation starts on #{ format_time(request.start_date) }, ends on #{ format_time(request.end_date) } and is for #{ request.num_guests }." %>
    </p>

    <%= "Made #{ time_ago_in_words(request.created_at) } ago." %>

      <% if request.status == "PENDING" && current_user && request.room.owner_id == current_user.id %>
        <form action="<%= approve_room_request_url(request) %>" method="post">
          <%= auth_token %>
          <p><input type="submit" value="Approve"></p>
        </form>

        <form action="<%= deny_room_request_url(request) %>" method="post">
          <%= auth_token %>
          <p><input type="submit" value="Deny"></p>
        </form>
      <% end %>

      <hr>
    <% end %>

  <% else %>

    <p>There are currently no requests to stay at this property.</p>

  <% end %>

-->


</section>




<!-- <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Tables</title>
  <style>

  html, body, h1, table, thead, tr, th, tbody, td {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
  }

  body {
    font-family: sans-serif;
  }

  h1 {
    text-align: center;
    margin: 30px;
    font-size: 60px;
    font-weight: bold;
  }

  table {
    margin: 30px auto;
    border-collapse: collapse;
    border: 5px solid #ccc;
    width: 500px;
  }

  thead {

  }

  tbody {

  }

  tr {

  }

  th {
    padding: 10px;
    background: #eee;
    border: 5px solid #ccc;
    text-align: left;
    font-weight: bold;
  }

  td {
    padding: 10px;
    border: 5px solid #ccc;
    border-left: 0;
    border-right: 0;
  }

  /*

  tr:nth-child(odd) td {
    background: #ffc;
  }

  */

  </style>
</head>
<body>

  <h1>Amazing Cats</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Color</th>
        <th>Age</th>
        <th>Owner</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Snowy</td>
        <td>6</td>
        <td>White</td>
        <td>Jonathan</td>
      </tr>
      <tr>
        <td>Rocky</td>
        <td>4</td>
        <td>Brown</td>
        <td>Stacy</td>
      </tr>
      <tr>
        <td>Sennacy</td>
        <td>5</td>
        <td>Brown</td>
        <td>Christi</td>
      </tr>
    </tbody>
  </table>


</body>
</html> -->