<script>

  $(document).ready(function () {

  //   var $statusTag = $(".status-tag")
  //
  //   $(".cancel-request-link").on("click", function (event) {
  //     var id = $(event.target).attr("data-request-id")
  //     console.log($statusTag)
  //     $.ajax({
  //       url: "/room_requests/" + id + "/cancel",
  //       type: "get",
  //       success: function () {
  //         // alert("it worked!");
  //         $("h3[data-request-id=" + id + "]").replaceWith("Status: <strong>CANCELLED</strong>");
  //       }
  //     })
  //   })
  // })


</script>

<h2>Your Trips</h2>

<% unless @requests.empty? %>
    <section class="trips">

      <% @requests.each do |request| %>
        <article class="room-request group">

          <h3><%= request.room.display_title %></h3>

          <h4 class="status-tag" data-request-id="<%= request.id %>">Status: <strong><%= request.status %></strong></h4>

          <p class="request-details">
            Dates: <br>
            <%= format_time(request.start_date)%><br>
            to <%= format_time(request.end_date) %><br><br>
            Number of Guests: <%= request.num_guests %>
          </p>
          <div class="trip-links">
            <a href="<%= user_url(request.host) %>">Visit Your Host's Page</a>
            <a href="<%= room_url(request.room) %>">See The Space</a>
            <% if request.status == "PENDING" || request.status == "APPROVED"  %>
              <form action="<%= cancel_room_request_url(request) %>" method="post">
                <%= auth_token %>

                <p><input type="submit" value="Cancel"></p>
              </form>




              <!-- <a href="<%= cancel_room_request_url(request) %>">Cancel</a> -->
            <% end %>
          </div>

        </article>

      <% end %>

    </section>
<% else %>

<h3>You have no current trips.</h3>

<% end %>


<!-- could later add a js "send your host a message" button right here -->


<!-- should i include the rooms when i get @requests in the controller? -->
