<!DOCTYPE html>
<html>
<head>
  <title>Freebnb</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />
</head>

<nav class="primary group">

  <a href="<%= root_url %>"><h1 class="logo-primary">treebnb</h1></a>

  <ul class="primary-controls group">
    <% if current_user %>

      <li id="controls">
        <a href="<%= user_url(current_user) %>">
          <%= current_user.fname %>
        </a>
        <ul class="user-controls">
          <li>
            <a href="<%= edit_user_url(current_user) %>">
              Edit Profile
            </a>
          </li>

          <li>
            <a href="<%= user_rooms_url(current_user) %>">
              My Listings
            </a>
          </li>

          <li>
            <a href="<%= user_room_requests_url(current_user) %>">
              My Trips
            </a>
          </li>

          <li>
            <form action="<%= session_url %>" method="post" >
              <input type="hidden" name="_method" value="delete">
              <%= auth_token %>
              <input type="submit" value="Log Out">
            </form>
          </li>
        </ul>
      </li>

      <li id="notifications">
        <a href="<%= notifications_url %>">
          <img src="https://s3.amazonaws.com/freebnb_dev/icons/mail_icon.png"
          id="mail-icon">
          <strong id="notification-count">
            <%= "#{ num_notifications }" %>
          </strong>
        </a>
        <ul class="dropdown group">

            <li>
              <a href="<%= notifications_url %>">
                See All Notifications
              </a>
            </li>

          <% current_user.notifications.unread.each do |notification| %>
            <li>
              <a href="<%= notification_url(notification) %>">
                <%= notification.text %>
              </a>
            </li>
          <% end %>
        </ul>
      </li>

      <li>
        <a href="<%= new_room_url %>">
          List Your Space
        </a>
      </li>

    <% else %>

      <li>
        <a href="<%= new_user_url %>">
          sign up
        </a>
      </li>
      /
      <li>
        <a href="<%= new_session_url %>">
          sign in
        </a>
      </li>

    <% end  %>
  </ul>

</nav>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %> <br>
  <% end %>
<% end %>

<% if flash[:notice] %>
  <% flash[:notice].each do |notice| %>
    <%= notice %>
  <% end %>
<% end %>

<body>

  <section class="main group">
    <%= yield %>
  </section>
</body>
</html>
