<!DOCTYPE html>
<html>
<head>
  <title>Freebnb</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%#= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<nav class="primary group">

  <a href="<%= root_url %>"><h1 class="logo-primary">freebnb</h1></a>

  <ul class="user-controls group">
    <% if current_user %>

      <li>
        <a href="<%= user_url(current_user) %>">
          <%= current_user.fname %>
        </a>
      </li>

      <li>
        <a href="#">
          Notifications
          <%= ": #{ num_notifications }" if num_notifications > 0 %>
        </a>
      </li>

      <li>
        <a href="<%= edit_user_url(current_user) %>">
          Edit Profile
        </a>
      </li>

      <li>
        <a href="<%= user_rooms_url(current_user) %>">
          My Listings
        </a>
      </li>

      <li>
        <a href="<%= user_room_requests_url(current_user) %>">
          My Trips
        </a>
      </li>

      <li>
        <form action="<%= session_url %>" method="post" >
          <input type="hidden" name="_method" value="delete">
          <%= auth_token %>
          <input type="submit" value="Log Out">
        </form>
      </li>

    <% else %>

      <li>
        <a href="<%= new_user_url %>">
          sign up
        </a>
      </li>
      /
      <li>
        <a href="<%= new_session_url %>">
          sign in
        </a>
      </li>

    <% end  %>
  </ul>

</nav>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %> <br>
  <% end %>
<% end %>

<% if flash[:notice] %>
  <% flash[:notice].each do |notice| %>
    <%= notice %>
  <% end %>
<% end %>

<body>
  <section class="main group">
    <%= yield %>
  </section>
</body>
</html>
