<!DOCTYPE html>
<html>
<head>
  <title>Freebnb</title>
  <%#= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%#= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<style>
  body {
    background: url("http://imagizer.imageshack.us/a/img4/5356/tokidoki030.jpg");
    font-family: sans-serif;
    color: #fff;
  }

  a {
    text-decoration: none;
    font-weight: bold;
  }

</style>

<a href="<%= root_url %>"><h1>freebnb</h1></a>

<% if current_user %>

  <h4>Signed in as
    <a href="<%= user_url(current_user) %>">
      <%= current_user.fname %>
    </a>
  </h4>

  <form action="<%= session_url %>" method="post" accept-charset="utf-8">
    <input type="hidden" name="_method" value="delete">
    <%= auth_token %>
    <p><input type="submit" value="Log Out"></p>
  </form>

<% else %>

  <a href="<%= new_user_url %>">Sign Up</a> / <a href="<%= new_session_url %>">Sign In</a>

<% end  %>


<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %> <br>
  <% end %>
<% end %>

<% if flash[:notice] %>
  <% flash[:notice].each do |notice| %>
    <%= notice %>
  <% end %>
<% end %>

<body>

<%= yield %>

</body>
</html>
