<!DOCTYPE html>
<html>
<head>
  <title>Freebnb</title>
  <%#= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%#= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<style>

body, h1, h2, h3, h4, a, nav, ul, li, form, p, label {
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
}


  body {
/*    background: url("http://imagizer.imageshack.us/a/img4/5356/tokidoki030.jpg");*/
    background-color: #16B2B9;
    font-family: sans-serif;
    color: #fff;
  }

  a {
    text-decoration: none;
    font-weight: bold;
  }

  a:visited {
    color: #FFF;
  }

  h1 {

  }

  ul {
    list-style: none;
  }

  li {
    display: inline-block;
    padding: 10px;
  }

  .group:after {
    clear: both;
    content: "";
    display: block;
  }

  nav.primary {
    background-color: #FFC755;
  }

  h1.logo-primary {
    font-size: 20px;
    float: left;
    padding:10px;
  }

  ul.user-controls {
    float: right;
    font-size: 16px;
  }

  section.main {
    margin: 50px 50px;
    display: block;
  }

</style>

<nav class="primary group">

  <a href="<%= root_url %>"><h1 class="logo-primary">freebnb</h1></a>

  <ul class="user-controls group">
    <% if current_user %>

      <li>
        <a href="<%= user_url(current_user) %>">
          <%= current_user.fname %>
        </a>
      </li>

      <li>
        <a href="<%= user_rooms_url(current_user) %>">
          My Listings
        </a>
      </li>

      <li>
        <a href="<%= user_room_requests_url(current_user) %>">
          My Trips
        </a>
      </li>

      <li>
        <form action="<%= session_url %>" method="post" >
          <input type="hidden" name="_method" value="delete">
          <%= auth_token %>
          <input type="submit" value="Log Out">
        </form>
      </li>

    <% else %>

      <li>
        <a href="<%= new_user_url %>">
          sign up
        </a>
      </li>
      /
      <li>
        <a href="<%= new_session_url %>">
          sign in
        </a>
      </li>

    <% end  %>
  </ul>

</nav>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %> <br>
  <% end %>
<% end %>

<% if flash[:notice] %>
  <% flash[:notice].each do |notice| %>
    <%= notice %>
  <% end %>
<% end %>

<body>
  <section class="main group">
    <%= yield %>
  </section>
</body>
</html>
